.section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 10rem;
  /* background-color: #3b28cc; */
  background: hsla(247, 67%, 48%, 1);

  background: radial-gradient(
    circle,
    hsla(247, 67%, 48%, 1) 0%,
    hsla(247, 60%, 26%, 1) 0%,
    hsla(247, 86%, 58%, 1) 0%,
    hsla(247, 67%, 48%, 1) 88%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(247, 67%, 48%, 1) 0%,
    hsla(247, 60%, 26%, 1) 0%,
    hsla(247, 86%, 58%, 1) 0%,
    hsla(247, 67%, 48%, 1) 88%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(247, 67%, 48%, 1) 0%,
    hsla(247, 60%, 26%, 1) 0%,
    hsla(247, 86%, 58%, 1) 0%,
    hsla(247, 67%, 48%, 1) 88%
  );
  height: 100vh;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-wrapper {
  width: 45%;
  position: relative;
  aspect-ratio: 1;
  margin: 0 auto;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.8px solid white;
  border-radius: 50%;
}

.inner-circle {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  border: 0.8px solid white;
}

.inner-circle-overlay {
  width: 65%;
  height: 63%;
  top: 20%;
  left: 20%;
  border: none;
}

.people-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.avatar {
  position: absolute;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.circle-text-wrapper {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle-title {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1rem;
}

/* Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  animation: rotate 20s linear infinite;
}

.inner-circle-overlay {
  animation: rotate 15s linear infinite;
}

.circle .avatar:nth-child(1) {
  top: 0;
  left: calc(70% - 1.5rem);
}

.circle .avatar:nth-child(2) {
  bottom: 0;
  left: calc(70% - 1.5rem);
}

.inner-circle-overlay .avatar:nth-child(1) {
  top: 0;
  left: calc(70% - 1.5rem);
}

.inner-circle-overlay .avatar:nth-child(2) {
  bottom: 0;
  left: calc(75% - 1.5rem);
}

@media (max-width: 768px) {
  .section {
    height: 90vh;

    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  .circle-wrapper {
    width: 70%;
  }

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
  }

  .circle-title {
    font-size: 1.8rem;
  }
}
