@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Visby;
  src: url(./Font/VisbyRegular.ttf);
}

@font-face {
  font-family: Visby-Bold;
  src: url(./Font/VisbyBold.ttf);
}

html,
body {
  font-family: ApercuReg;
  margin: 0;
  padding: 0;
}

.start-btn {
  background: #58563d;
  font-family: ApercuReg;
  border-radius: 20px;
}

.arrows {
  background-color: #58563d;
  border-radius: 10px;
}

.text-reveal {
  overflow: hidden;
  display: inline-block;
}

.text-reveal span {
  display: inline-block;
  transform: translateY(100%);
  animation: slideUp 0.8s forwards;
  animation-delay: 0.1s;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
