body {
  background-color: #e5f1fe;
}

.footer {
  margin: 0px;
}
@media screen and (max-width: 990px) {
}

.blur-background {
  background: hsla(247, 67%, 48%, 1);

  filter: blur(40px);
  z-index: -1;
}

.text-container {
  position: relative;
  padding: 20px;
  width: fit-content;
}
