.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows:
    0.4fr
    1.8fr
    0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav"
    "img form"
    "footer footer";
  font-family: Visby;

  /* text-transform: uppercase; */
}
.nav {
  margin: 0;
  grid-area: nav;
  background-color: #2e2d2c;
  height: 70px;
  padding: 20px;
}
.img {
  grid-area: img;
}
.form {
  grid-area: form;
  /* width: 60%; */
}
#username,
#email {
  width: 60%;
  border: 1.5px solid #58563d;
  border-radius: 20px;
}
.h1-form {
  font-family: Visby-Bold;
  color: #58563d;

  /* letter-spacing: -5px; */
}
.footer {
  grid-area: footer;
  border: 10px solid #8b865c;
  background-color: #8b865c;
  margin: 0px;
}
